<!DOCTYPE html>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #0f172a;
    color: #fff;
    padding: 20px;
    min-height: 100vh;
}

.dashboard-container {
    display: flex;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.sidebar{
    flex: 1;
    min-height: 250px;
    background: linear-gradient(135deg, #ec4899, #8b5cf6);
    border-radius: 16px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 15px 25px rgba(236, 72, 153,0.3);
}

.menu-item{
    background: rgba(255, 255, 255, 0.2);
    padding: 12px 18px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.menu-item:hover{
    background: rgba(255, 255, 255, 0.4);
    transform: translateX(5px);

}

.main-content{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20;

}

.stats-row{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.stat-box{
    flex: 1;
    min-width: 200px;
    padding: 20px;
    border-radius: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.stat-box h3{
    font-size: 14px;
    opacity: 0.9;
    text-transform: uppercase;
}

.stat-box p{
    font-size: 26px;
    font-weight: bold;
}

.stat-1{
    background: linear-gradient(135deg, #3b82f6, #1d4ed8);
}
.stat-2{
    background: linear-gradient(135deg, #10b981, #047857);
}
.stat-3{
    background: linear-gradient(135deg, #f59e0b, #b45309);
}

.grid-row{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;   
}

.content-box{
    flex: 1;
    min-width: 200px;
    background: #1e293b;
    border: 2px solid #334155;
    border-radius: 16px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.content-box h2{
    font-size: 20px;
    color: #38bdf8;
    border-bottom: 2px solid #334155;
    padding-bottom: 10px;
}

.inner-boxes{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.mini-box{
    flex: 1;
    min-width: 80px;
    background: #0f172a;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    color: #f43f5e;
    border: 1px dashed #f43f5e; 
}

@media (max-width: 900px) {
    .dashboard-container{
        flex-direction: column;
    }
}